name: MSBuild

on: [push]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: ./vcpp/imprimis.sln

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Clone repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Download libprimis.lib artifact
      uses: dawidd6/action-download-artifact@v2.18.0
      with:
        workflow: msbuild.yml
        name: libprimis-windows
        path: ./
        repo: project-imprimis/libprimis
        branch: main

    - name: Install NSIS
      #uses ci from nsis-dev/ci-examples
      run: |
        iwr -useb get.scoop.sh -outfile 'install.ps1'
        .\install.ps1 -RunAsAdmin
        scoop update
        scoop bucket add extras
        scoop install nsis

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.3.1

#     afaik this isnt necessary
#    - name: Restore NuGet packages
#      working-directory: ${{env.GITHUB_WORKSPACE}}
#      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Create NSIS Installer
      run: makensis ./vcpp/imprimis.nsi

    - name: Upload Imprimis Windows binary artifact
      uses: actions/upload-artifact@v2
      with:
        name: imprimis-windows
        path: |
          ./imprimis.bat
          ./README.md
          ./bin64/
          ./config/
          ./doc/
          ./media/

    - name: Upload Imprimis Windows installer
      uses: actions/upload-artifact@v2
      with:
        name: imprimis-windows-installer
        path: ./vcpp/imprimis_windows.exe